*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.bg-image {
  background-image: url("https://as1.ftcdn.net/v2/jpg/00/16/18/06/1000_F_16180668_nSJQz2pvYPRpzp3MfvI8msmfKG0fZOLC.jpg");
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
    
  /* Full height */
  height: 100vh; 
    
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}


.search-container {
  display: flex;
  align-items: center;
  margin: 20px;
  border-bottom-right-radius: 2px;
}
  
#search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
  
#search-btn {

  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: rgb(16, 16, 16);
  color: #FFFFFF;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 0.81;
  transition: transform 300ms,background 300ms;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#search-btn:hover{
  background-color: white;
  color: black;
}

#loading {
  display: none;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
  
  
.book-list {
  border-bottom: 1px solid black;
  margin: 20px;
  padding-bottom: 40px;

}
  
.book-list h2 {
  margin-bottom: 10px;
}

#books {
  list-style: none;
}

#books li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  width: 45%;
  margin: auto;
}

#books li:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.book-description{
  margin-left: 20px;
  margin-bottom: 50px;
}

.book-description h2 {
  margin-bottom: 10px;
}

#book-desc {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ffffff;
  width: 55%;
  margin: auto;
}

@media only screen and (max-width: 620px) {
  #books li {
    width: 90%;
  }

  #book-desc{
    width: 90%;
  }
}
@media only screen and (min-width: 620px) and (max-width: 1000px) {
  #books li {
    width: 70%;
  }
}